{% extends "base.html" %}
{% block content %} 
    <div>
    
        <header>
            Home Page Header
        </header>
        <br>
        <section>
            <header>
                Highlights Header      
            </header>
            
            <section>
                <h2>
                    <a href="/articles/{{ article.slug}}/"
                    >
                        {{article.title}} - <small>{{article.contents}}</small>
                </a>
                </h2>
            </section>

            <footer>
                Highlights Footer
            </footer>

        </section>
        <br>
        <div>
            <br>
            <header>
                Articles Header
                <div>
                    <span>
                    <a href="{% url 'articles:create' %}"
                    >
                        Create Article
                    </a>
                    </span> &nbsp; &nbsp;
                    <span>
                        <a href="{% url 'articles:detail' article_slug='hello-world' %}"
                        >
                            Hello World Detail
                        </a>
                    </span>
                </div>
            </header>
            <br>
            <ul>
                {% for x in articles %}
                    {% if x.title %}
                    <li>
                        <a href="{{ x.get_absolute_url }}"
                        >
                            {{x.title}} - {{x.contents}}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <br>
            <footer>
                Articles Footer
            </footer>
            <br>
        </div>
        <footer>
            HomePage Footer
        </footer>
    </div>
{% endblock content %}
   
